/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 45px 50px 10px 50px;
  background-color: white;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  width: 23%; 
}

footer .logo {
  margin-bottom: 5px;
  width: 55%;
  margin-top: -40px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

footer .follow i {
  color: #465b52;
  cursor: pointer;
  padding-right: 4px;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyrights {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}



/* Responsive Styles */
@media (max-width: 1200px) {
  footer {
    padding: 40px 80px;
  }
}

@media (max-width: 992px) {
  footer {
    padding: 40px 60px;
  }
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }

  footer .col {
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }

  footer .install .row {
    justify-content: center;
  }

  footer .install img {
    width: 80%;
    margin: 10px auto;
  }

  footer .follow {
    justify-content: center;
    width: 100%;
  }

  footer .follow i {
    margin: 0 10px;
  }

}
