.shop {
  padding: 60px 140px;
  background-color: white;
}
.shop-container {
  display: flex;
  background-color: #f9f9f9;
  flex-wrap: wrap;
}

.shop-sidebar {
  width: 25%;
  padding: 120px 20px;
  background-color: #f9f9f9;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: fit-content;
}

.shop-content {
  width: 75%;
  padding: 60px 140px;
  background-color: white;
}

.shop-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.shop-search-bar {
  grid-column: span 3;
  margin: 30px 0px !important; /* Makes the search bar span all columns */
  margin-bottom: 30px;
  width: 50%;
  justify-self: center;
}

.new-shop {
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  animation: fadeIn 1s;
  overflow: hidden;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-arrivals-product:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px #0000001a;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .shop-section {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .shop-content {
    width: 75%;
    padding: 60px 60px;
    background-color: white;
  }

  .shop-search-bar {
    grid-column: span 3;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .shop-sidebar {
    width: 100%;
    padding: 20px;
    position: relative;
    top: auto;
  }

  .shop-content {
    width: 100%;
    padding: 20px;
  }

  .shop-section {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .shop-search-bar {
    grid-column: span 1;
    width: 100%;
  }
  .shop-section-title {
    display: none;
  }
  .new-arrivals-product:hover {
    display: none;
  }
}
