################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plans-shop
/Plans-shop
/Plans-shop/.vs/Plans-shop/FileContentIndex
/Plans-shop/.vs/Plans-shop/v17/.suo
/Plans-shop/.vs/Plans-shop/v17/DocumentLayout.json
/Plans-shop/.vs/Plans-shop/v17/.suo
/Plants-shop/.vs/Plants-shop/FileContentIndex
/Plants-shop/Common/Database
/Plants-shop/.vs
/Plants-shop/Common/PlantsShop.Common/obj
/Plants-shop/Projects/plantsshop.admin/obj/Debug
/Plants-shop/Projects/PlantsShop.API/bin/Debug/net8.0
/Plants-shop/Projects/PlantsShop.API/obj
/Plants-shop/Projects/plantsshop.website/obj/Debug
/Plants-shop/.vs/Plants-shop/DesignTimeBuild/.dtbcache.v2
/Plants-shop/.vs/Plants-shop/v17/.futdcache.v2
/Plants-shop/.vs/Plants-shop/v17/DocumentLayout.json
/Plants-shop/.vs/Plants-shop/v17/.suo
/Plants-shop/.vs/ProjectEvaluation/plants-shop.metadata.v7.bin
/Plants-shop/.vs/ProjectEvaluation/plants-shop.projects.v7.bin
/.vs/Plants-shop/v17/.wsuo
/Plants-shop/Projects/plantsshop.website/stats.html
