################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plans-shop
/Plans-shop
/Plans-shop/.vs/Plans-shop/FileContentIndex
/Plans-shop/.vs/Plans-shop/v17/.suo
/Plans-shop/.vs/Plans-shop/v17/DocumentLayout.json
/Plans-shop/.vs/Plans-shop/v17/.suo
