* {
  font-family: 'Montserrat', sans-serif !important;
}
.story-area {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 0px 130px;
  gap: 45px;
}

.benefits {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.benefits ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.benefits li {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center; /* Center items vertically */
}

.benefits p {
  font-weight: bold;
}

.benefit-image {
  width: 50px; /* Set the width of the image */
  height: 50px; /* Set the height of the image */
  border-radius: 50%; /* Make the image a circle */
  object-fit: cover; /* Ensure the image covers the container */
}

.story-button {
  align-self: flex-start; /* Align button to the start */
  background-color: #4c6b3c !important;
  color: white !important;
  border: 2px solid #4c6b3c !important;
  padding: 10px 30px !important;
  font-size: 1rem !important;
  border-radius: 0 !important;
  transition: background-color 0.3s ease !important;
}

.story-button:hover {
  background-color: #3c5232 !important;
  color: white !important;
  border-color: #3c5232 !important;
}

.story-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.story-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 75%;
}

.benefit-big-image {
  width: auto;
  height: 85%;
  border-radius: 70% 0 70% 0;
  object-fit: cover;
}

/* Media Queries for Responsiveness */
@media (max-width: 1400px) and (min-width: 1000px) {
  .story-area {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .story-left-side,
  .story-right-side {
    width: 100%;
  }

  .story-right-side {
    order: -1; /* Move image to the top */
    margin-bottom: 20px;
  }

  .benefits {
    flex-direction: column;
  }

  .benefits ul {
    width: 100%;
  }

  .story-button {
    align-self: center;
  }
}

@media (max-width: 1480px) {
  .story-area {
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .story-left-side,
  .story-right-side {
    width: 100%;
  }

  .story-right-side {
    margin-bottom: 20px;
  }

  .benefits {
    flex-direction: column;
  }

  .benefits ul {
    width: 100%;
  }

  .story-button {
    align-self: center;
  }
  .benefit-big-image {
    object-fit: cover;
    object-position: center;
    border-radius: 75% 0 75% 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .story-area {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
  }

  .benefit-image {
    width: 40px; /* Adjust the size for smaller screens */
    height: 40px;
  }
  .benefits ul {
    padding-left: 10%;
  }

  .benefit-big-image {
    object-fit: cover;
    object-position: center;
    border-radius: 25% 0 25% 0;
    width: 75%;
  }

  .story-button {
    padding: 8px 20px !important;
    font-size: 0.875rem !important;
  }
}
